.container {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    border-radius: 3%;
    z-index: 1;
    position: relative;
}

.tabelaTitulo{
    color: #1A6C7C;
    padding-bottom: 2%;
}

.containerLista{
    padding: 2%;
}

.tabela{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabela td{
    padding: 20px 0 20px 3px;
}

.tabela tr{
 border-radius: 50px;
}

.tabelaSubTitulo{
    text-align: left;
    color: #1A6C7C;
}

.tabelaSubTitulo th{
    padding-bottom: 1%;
}

.tableRowWhite{
    background-color: #F9F9F9;
}

.tableRowGray{
    background-color: #F1F1F1;
}

.data{
    color: #7F7E7E;
}

.containerPaginacao{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding: 2% 0% 0px 0px;
    color: #3C5874;
}

.paginaAtual{
    background-color: #C9DAEB;
    border-radius: 15%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nada{
    padding: 5%;
}

.paginacao{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}

.containerNumeros{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 0px 2px 0px 2px;
}

.containerSeta{
    width: 20px;
    height: auto;
    display: flex;
    align-items: center;
}
